<style>
    footer{
        box-shadow: 0 0px 5px -3px #202225;
        margin-top: 50px;
        padding: 10px 50px;
        color: gray;
        text-align: center;
    }
    
    .footerlinks{
        display: inline-flex;
        padding: 0;
    }
    
    .footerlinks li{
        list-style-type: none;
        margin-left: 12px;
    }

    .footerlinks a{
        text-decoration: none;
    }
    
    .footerlinks li:first-of-type{
        margin: 0;
    }
</style>
<footer class="theme2">
    <ul class="footerlinks">
        <li><a href="https://pastebin.com/raw/50QP6Egt" title="Change Log">Change Log</a></li>
    </ul>
    <br/>
    <br/>
    <p>© 2020 RoundBot</p>
    <br/>
</footer>