hr{
    box-sizing: content-box;
    height: 1px;
    border-bottom: 1px solid gray;
    margin: 10px 0px;
}

#top{
    text-align: center;

    img{
        width: 150px;
        height: 150px;
        border-radius: 90%;
        margin: 12px;
    }

    p{
        font-size: 26px;
        font-weight: 400;
    }
}

.section{
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.space{
    padding: 12px;
}

h2{
    font-weight: 400;
}

#autoresponders{
    .autoresponder{
        margin-bottom: 12px;

        .checkers{
            display: flex;
            flex-wrap: wrap;

            .checker{
                margin-top: 12px;
                margin-right: 12px;
                display: flex;
    
                input{
                    padding: 8px 16px;
                    background-color: #484b50;
                    
                    &::placeholder{
                        color: lightgray;
                    }
                }
    
                .checker-deletebtn{
                    color: white;
                    background-color: red;
                    padding: 0 12px;
                    display: none;
                }
            }
        }

        textarea{
            padding: 8px 16px;
            background-color: #484b50;
            width: 100%;
            min-height: 150px;
            margin: 8px 0;

            &::placeholder{
                color: lightgray;
            }
        }
    
        .update, .btn-addwordchecker{
            padding: 8px 20px;
            border-radius: 5px;
            background-color: #23272A;
            font-weight: 400;
            cursor: pointer;
            font-size: 22px;
        }

        .charcount{
            color: lightgray;
        }
    }
}

//Slider switch
.switch{
    position: relative;
    display: inline-block;
    min-width: 50px;
    height: 28px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider:before{
            margin-left: 22px;
        }

        &:checked+.slider {
            background-color: #2ecc71;
        }
    }
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;

    &:before{
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .3s;
        transition: .3s;
        border-radius: 50%;
    }
}